Nome do Estoque : {{estoque}}
                    <form action="/estoque" id="atualizar" method="POST">
                        <table>
                            <tr>
                                <th>Numero:</th>
                                <th>Nome:</th>
                                <th>Preço:</th>
                                <th>Quantidade:</th>
                            </tr>
                            {% for li_tup in li_li_tup %}
                          <tr>

                                {% for cod, valor in li_tup %}
                            {% if 'quantidade' in cod %}    
                            <td><input  type="number" id={{cod}} name={{cod}} value="0" min="0" step="1"></td>
                            <td><button type="button"  onclick="mais('{{cod}}')">+</button></td>
                            <td><button type="button"  onclick="menos('{{cod}}')">-</button></td>
                            {% else %}
                            <td><input type="text" id={{cod}} name={{cod}}  value={{valor}} readonly></td>
                            {% endif %}
                                {% endfor %}
                          </tr>
                             {% endfor %}
                        </table>
                    </form>

                    <script>
                        function mais(cod) {
                            document.getElementById(cod).value++
                           }
                           
                        function menos(cod) {
                            if ( document.getElementById(cod).value != 0 ){
                                document.getElementById(cod).value--
                            }
                           }

                        </script>